* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

figure>img {
    display: block;
    width: 100%;
}

// utility
.row {
    display: flex;
}



#app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app__header {
    overflow: hidden;
    background-color: black;
    min-width: 100%;
    min-height: 50px;
    padding: 15px;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}


// .container {
//     max-width: 100%;
//     margin: 0 auto;
//     padding: 0 10px;
// }